*{
    margin: 0;
}
body{
    background-image: url("back2.jpg");
}
.ImagemLogo{
    position: relative;
    margin: 0 auto;
    left: 605px;
    height: 290px;
}   
.DivTopoindex{
    background-color:   rgb(26, 32, 104);
    width: 1500px;
    height: 360px;
    margin: 0 auto;
}   

.DivFooter{
    position: relative;
    background-color:   rgb(26, 32, 104);
    width: 1500px;
    height: 23px;
    margin: 0 auto;
    top: -50px;
}
.DivFooterSobre{
    position: relative;
    background-color:rgb(26, 32, 104);
    width: 1500px;
    height: 100px;
    margin: 0 auto;
    top: -50px;
}
.DivFooterPGContato{
    position: relative;
    background-color:rgb(26, 32, 104);
    width: 1500px;
    height: 100px;
    margin: 0 auto;
    top: -70px;
    border-top: solid 4px;
    border-color: green;
}


.DivTopoMenu{
    position: relative;
    width: 400px;
    height: 60px;
    background-color: green;
    margin: 0 auto;
    top: -10px;
    border-radius: 17px;
    border-color: rgb(1, 80, 1);
    border: solid 3px; 
}

.DivFooterContato{
    position: relative;
    width: 100px;
    height: 60px;
    background-color: rgb(26, 32, 104);
    border-color: rgb(1, 80, 1);
    margin: 0 auto;

}
.DivFooterContato2{
    position: relative;
    width: 290px;
    height: 60px;
    background-color: rgb(26, 32, 104);
    border-color: rgb(1, 80, 1);
    margin: 0 auto;

}
.DivForms{
    position: relative;
    width: 1500px;
    height: 800px;
    background-color: rgb(26, 32, 104);
    border-color: rgb(1, 80, 1);
    margin: 0 auto;
    top: -60px;

}

.TextoMenu{
    position: relative; 
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    left: 30px;
    top: 22px;
}
.TextoMenu:hover{
    text-decoration: underline;
    font-weight: bold;
}
.TextoMenuFooter2{
    position: relative; 
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    left: 630px;
    top: 60px;
}
.TextoMenuFooter{
    position: relative; 
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    left: 690px;
    top: 50px;
}
.TextoMenuFooter:hover{
    text-decoration: underline;
    font-weight: bold;
}
.TextoExp{   
    position: relative;  
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    top: 20px;
    left: 20px
}
.TextoBreveApr{   
    position: relative;  
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    top: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
}

.TextoFooter{   
    position: relative;  
    font-family: Arial;
    color: #ffffff;
    font-size: 19.5px;
    justify-content: center;
    text-align: center;
    display: flex;


}
.TextosArticle{
    position: relative;  
    font-family: Arial;
    font-size: 19.5px; 
    justify-content: center;
    text-align: center;
    display: flex;
    top: 20px;
}

.TextosTitleArticle{
    position: relative;  
    font-family: Arial;
    font-size: 19.5px; 
    justify-content: center;
    text-align: center;
    display: flex;
    top: 10px;
}

.TextoReadSection{
    font-family: Arial;
    position: relative;
    color: #ffffff;
    font-size: 30px;    
    justify-content: center;
    text-align: center;
    display: flex;
    top: 20px; 
}
 
.ApresentacaoDIv{
    position: relative;
    background-color:   green;
    width: 1500px;
    height: 100px;
    margin: 0 auto;
    top: -50px;
    border-top: solid 5px;
    border-color: rgb(1, 80, 1);

}
.DIvBreveApresent{
    position: relative;
    background-color:   green;
    width: 1500px;
    height: 80px;
    margin: 0 auto;
    top: -50px;
    border-top: solid 5px;
    border-color: rgb(1, 80, 1);

}

.DivSectionReader{
    position: relative;
    background-color:   green;
    width: 1500px;
    height: 60px;
    margin: 0 auto;
    top: -50px;
    border-top: solid 5px;
    border-color: rgb(1, 80, 1);
}
.DivimgProjeto1{   
    position: relative; 
    background-color:   green;
    width: 1500px;
    height: 350px;
    margin: 0 auto;
    top: -50px;
}
.DivimgMVOBJ{   
    position: relative; 
    background-color:   green;
    width: 1500px;
    height: 210px;
    margin: 0 auto;
    top: -50px;
}
.DivGFXprojto1{
    position: relative;
    background-color:   #ffffff;
    width: 1025px;
    height: 300px;
    top: -298px;
    left: 450px;
    border-color: green;
    border: solid 2px; 
}
.DivGFXBreveApr{
    position: relative;
    background-color:   #ffffff;
    width: 975px;
    height: 300px;
    top: -298px;
    left: 500px;
    border-color: green;
    border: solid 2px; 
}
.DivMVOBJ{
    position: relative;
    background-color:   #ffffff;
    width: 1450px;
    height: 150px;
    left: 25px;
    border-color: green;
    border: solid 3px; 
    border-radius: 20PX;
}

.imgProjeto1{
    position: relative;
    height: 300px;
    left: 25px;
    top: 10px;
    border-color: green;
    border: solid 2px; 
}

.imgCvideo{
    position: relative;
    height: 300px;
    left: 25px;
    top: 10px;
    border-color: green;
    border: solid 2px; 
}

.menuSaibaMais{
    position: relative;
    left: 1850px;
    top: -350px;
    height: 50px;
    width: 140px;
    background-color: green;
    border-color: rgb(1, 80, 1);
    border: solid -2px; 
    border-radius: 10px;
}
.TextoSaibaMais{
    position: relative; 
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    left: 30px;
    top: 18px;
}
.TextoEmail{
    position: relative; 
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    left: 30px;
    top: 78px;
}
.TextoSaibaMais:hover{
    text-decoration: underline;
}
.BackGroundSection1{
    background-image: url("Imagens/backsection.jpg");


}









#area
{
  position:relative;
  left:37%;
  top:10em;
  width:500px;
  height:400px;
}
#area #formulario
{
  position:absolute;
  display:block;
}


fieldset{
  background-color:#68d176;
  width:470px;
  height:300px;
}
legend{
  font-weight:bold;
  font-family: "Arial";
}
#formulario label{
  position:absolute;
  left:19px;
  margin-right:5px;
}
#formulario input.campo_nome{
  background-color:#ffffff;
  position:absolute;
  left:95px;
  top:23px;
  width:375px;
}
#formulario input.campo_email{
  background-color:#ffffff;
  position:absolute;
  left:95px;
  margin-top:2px;
  width:375px;
}
#formulario textarea.msg{
  position:absolute;
  background-color:#ffffff;
}

#formulario input.btn_submit{
  border-style:dashed;
  position:absolute;
  bottom: 0.5em;
  right:10px;
  background-color:#ffffff;
}